@import '../mixins/utilities.scss';
@import '../_variable.scss';

.sensor-dashboard {
    .sensor-dashboard--body {
        @include media-breakpoint-up(md) {
            padding: $half-padding;
        }

        .sensor-dashboard--body-sensor-list {
            .col-12 {
                .sensor-card {
                    &:first-child {
                        
                    }
                }

            }
        }

        @include reset-layout();
    }

    .sensor-dashboard--body-header {
        @include media-breakpoint-up(md) {
            padding: $half-padding;
        }

        @include reset-layout();
    }

    .sensor-dashboard--body-sensor-list {
        @include media-breakpoint-up(md) {
            padding: 0.5rem;
        }

        .col-12 {
            &:first-child > .sensor-card {
                margin-top: 1rem;
                padding-top: 1rem;
                border-top: $bootstrap-border-grey;

                @include media-breakpoint-up(md) {
                    margin-top: 0;
                }
            }
        }

        @include reset-layout();
    }
}
