<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chart Demo</title>
    <link rel="stylesheet" href="~/main.css" />
</head>
<body>
    @RenderBody()

    <script type="text/javascript" src="~/app_scripts.js"></script>
</body>
</html>